html,body {
    height:100%;;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    width: 100%;
    height: 20%;
    background-color: rgb(51, 49, 49);
    color: rgb(105, 226, 186);
    display: flex;
    flex-direction: row;
    align-items:center;
}
.head h1{
    font-size: 50px;
    padding: 10px;
}
.main{
    width: 70%;
    padding: 10px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
}
input,button{
    outline-style: none;
    margin: 0;
    padding: 0;
}
#data{
    margin: 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius:20px 0 0px 20px;
    width: 75%;
    padding: 12px;
    float: left;
    font-size: 18px;
}
#btn{
    float: right;
    width: 25%;
    border: 1px solid rgb(0, 0, 0);
    border-radius:0 20px 20px 0;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(151, 255, 220);
}
#btn:hover{
    background-color: rgb(202, 255, 237);
}
.lists{
    margin: 10px auto;
    padding-left: 20px;
    overflow: auto;
    width: 100%;
}
#list li{
    font-size: 24px;
    padding: 5px;
    border-bottom: 1px black solid;
}
.container{
    background-color: rgb(235, 239, 254);
    height: 80%;
    overflow: scroll;
    scrollbar-color: blue;
}
.container .task{
    display: flex;
}
.container .task p{
    width: 100%;
}
.container .main .lists #list .del{
    background-color: rgb(232, 225, 225);
    border-radius: 100%;
    font-size: 20px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(255, 0, 0)
}